@import "../Colorscheme.scss";

.class-page-buttons {
	max-height: 10%;
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.class-page-buttons-right > Button {
	margin-left: 10px;
}

.class-page-main {
	max-height: 90%;
	padding-top: 30px;
	color: $antiflash-white;
}

.class-page-container {
	padding: 25px;
}

.class-page-grades-dialog {
	height: auto;

	padding: 25px;
	background-color: $night;
	border: 2px solid $antiflash-white;
	color: $antiflash-white;
}

.class-page-accordion {
	background-color: $night;
	overflow-y: scroll;
}

.grades-information > * {
	font-size: 18px;
	padding-bottom: 30px;
}

.grades-information > h1 {
	font-size: 30px;
}
