@import "../Colorscheme.scss";

.navbar-main {
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
	padding-top: 10px;
	background-color: $caribbean-current;
}

.navbar-button {
	border: none;
	background-color: transparent;
	color: white;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.navbar-button:hover {
	border: none;
	background-color: transparent;
	color: $non-photo-blue;
	font-size: 19px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.navbar-button-active {
	border: none;
	background-color: transparent;
	color: $midnight-green;
	font-weight: 800;
	text-decoration: underline;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}