.shop-button{
    font: 15px;
    color: black;
    background-color: #E00122;
    border: none;
    display: inline;
    margin-left: 30px;
    margin-top: 30px;
    width: 60px;
    height: 20px;
}

.shop-description{
    font: 15px;
    color: black;
    background-color: rgb(193, 193, 193);
    display: inline;
    margin-left: 30px;
}