.shop-button{
    font-size: 12px;
    color: white;
    background-color: #E00122;
    border: none;
    display: inline;
    margin-left: 30px;
    margin-top: 30px;
    width: 60px;
    height: 20px;
}

.shop-button:hover{
    font-size: 13px;
    color: white;
    background-color: #E00122;
    border: none;
    display: inline;
    margin-left: 30px;
    margin-top: 30px;
    width: 60px;
    height: 20px;
}

.shop-button-active{
    font-size: 12px;
    color: black;
    background-color: #E00122;
    border: none;
    display: inline;
    margin-left: 30px;
    margin-top: 30px;
    width: 60px;
    height: 20px;
}

.shop-button-active:hover{
    font-size: 13px;
    color: black;
    background-color: #E00122;
    border: none;
    display: inline;
    margin-left: 30px;
    margin-top: 30px;
    width: 60px;
    height: 20px;
}

.shop-description{
    font-size: 12px;
    color: black;
    background-color: transparent;
    display: inline;
    margin-left: 30px;
}