.profile-main {
	max-width: 100%;
	min-width: 100%;
	max-height: 7em;
	min-height: 100%;
}
.profile-avatar{
	display: flex;
	align-items: center;
	justify-content: center;

}

.profile-avatar:hover{
    cursor: pointer;
}