@import "Colorscheme.scss";

.main {
	max-width: 100vw;
	min-width: 100vw;
	max-height: 100vh;
	min-height: 100vh;

	overflow: hidden;
	background-color: $antiflash-white;

	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
}

.display-container {
	display: flex;
	flex-grow: 52;
	flex-direction: row;
}

.sidebar-container {
	max-width: 13vw;
	min-width: 13wv;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.profile-container {
	display: flex;
	flex-grow: 1;
	background-color: $midnight-green;
	color: $antiflash-white;
	border-bottom: 5px solid $night;

}

.navigation-container {
	display: flex;
	flex-grow: 8;
}

.body-container {
	max-width: 87vw;
	min-width: 87vw;
	display: flex;
	flex-direction: column;
	flex-grow: 28;
}

.titlebar-container {
	max-height: 10vh;
	display: flex;
	flex-grow: 1;
	border-bottom: 5px solid $night;
}

.content-container {
	max-height: 86vh;
	display: flex;
	background-color: $antiflash-white;
	flex-grow: 10;
}

.global-footer-container {
	min-height: 4vh;
	max-height: 4vh;
	display: flex;
	flex-grow: 1;
	background-color: $non-photo-blue;
	border-top: medium solid $night;
	color: $night;
	align-items: center;
	justify-content: center;
}
