/*https://codepen.io/coralielm/pen/BazQOXZ*/
.leaderboard-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
}
  
.container {
	display: flex;
	align-items: flex-end;
	margin-top: 30px;
	margin-bottom: 30px;;
}

.podium__item {
	width: 200px;
}
  
.podium__rank {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: #000000;
}
  
.podium__city {
	text-align: center;
	padding: 0 .5rem;
	padding-bottom: 10px;
}
 
.podium .first {
	height: 250px;
	background: gold;
}

.podium .second {
	height: 200px;
	background: silver;
  }
  
.podium .third {
	height: 150px;
	background: #cd7f32;
}

.text-area{
	display: flex;
	flex-direction: column;
	align-items: center;
}